<header>
    <div class="section1">
    <div class="logo">
         <img src="/assets/logo.png"/>
         <h3>Baba Library Software</h3>
    </div>
   <div class="Call">
       <img src="/assets/gemlogo.jpg">
     <div class="NumberDial">
        <h4>Call Now</h4>
       <h4>+35312135212</h4>
    </div>
   </div>
</div>
<div class="section2">
    <div class="subsection">
        <h3><a href="/">Home</a></h3>
        <h3>Modules</h3>
        <h3>Products</h3>
        <h3>Services</h3>
        <h3>Blog</h3>
    </div>
    <div class="subsection">
        <h3><a href="/login">Login</a></h3>
        <h3><a href="/register">Register</a></h3>
    </div>
</div>
</header>