<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>
    <%- include('./Components/header',{ cookies: cookies }) %>   
    <main class="searchbooks">
      <div class="background">
        <h1>Welcome to Open Library Cart</h1>
        <div class="searchsection">
          <input type="text" name="search" placeholder="Search for books" id="search">
        </div>
         <div class="section">
          <h2>Searched Results</h2>
          <div class="booksection"></div>
          </div>
          </div>
    </main>
    <%- include('./Components/footer.ejs') %>
