<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>
    <%- include('./Components/header') %>   
     <main>
      <div class="background">
        <h1>Welcome to Open Library</h1>
        <img src="assets/background.jpg"/>
         <div class="section">
            <h2>Trending Books</h2>
            <div class="booksection">
              <div class="booksubsection">
                <img src="assets/section1book1.jpg"/>
                <button>Not In Library</button>
              </div>
              <div class="booksubsection">
                <img src="assets/section1book2.jpg"/>
                <button>Preview</button>
              </div>
              <div class="booksubsection">
                <img src="assets/section1book3.jpg"/>
                <button>Preview</button>
              </div>
              <div class="booksubsection">
                <img src="assets/section1book4.jpg"/>
                <button>Preview</button>
              </div>
              <div class="booksubsection">
                <img src="assets/section1book5.jpg"/>
                <button>Preview</button>
              </div>
              <div class="booksubsection">
                <img src="assets/section1book6.jpg"/>
                <button>Preview</button>
              </div>
            </div>
         </div>
         <div class="section">
          <h2>Classic Books</h2>
          <div class="booksection">
            <div class="booksubsection">
              <img src="assets/section1book1.jpg"/>
              <button>Not In Library</button>
            </div>
            <div class="booksubsection">
              <img src="assets/section1book2.jpg"/>
              <button>Preview</button>
            </div>
            <div class="booksubsection">
              <img src="assets/section1book3.jpg"/>
              <button>Preview</button>
            </div>
            <div class="booksubsection">
              <img src="assets/section1book4.jpg"/>
              <button>Preview</button>
            </div>
            <div class="booksubsection">
              <img src="assets/section1book5.jpg"/>
              <button>Preview</button>
            </div>
            <div class="booksubsection">
              <img src="assets/section1book6.jpg"/>
              <button>Preview</button>
            </div>
          </div>
       </div>
      </div>

    </main>
    <footer>

    </footer>
</body>
</html>
