<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
    <header>
        <div class="section1">
        <div class="logo">
             <img src="/assets/logo.png"/>
             <h3>Baba Library Software</h3>
        </div>
       <div class="Call">
           <img src="/assets/gemlogo.jpg">
         <div class="NumberDial">
            <h4>Call Now</h4>
           <h4>+35312135212</h4>
        </div>
       </div>
    </div>
    <div class="section2">
        <div class="subsection"><h3>Login</h3></div>
        <div class="subsection"><h3>Login</h3></div>
        <div class="subsection"><h3>Login</h3></div>
    </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>
