<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>
    <%- include('./Components/header',{ cookies: cookies }) %>   
     <main>
      <div class="background">
        <h1>Welcome to Open Library</h1>
        <img src="assets/background.jpg"/>
         <div class="section">
            <h2>Trending Books</h2>
            <div class="booksection" >
              <div class="booksubsection" id="image1">
                <img src="assets/section1book1.jpg" />
                <button onclick="ImageSelector('image1', false)">Not In Library</button>
              </div>
              <div class="booksubsection" id="image2">
                <img src="assets/section1book2.jpg" />
                <button onclick="ImageSelector('image2',true)">Preview</button>
              </div>
              <div class="booksubsection"  id="image3">
                <img src="assets/section1book3.jpg"/>
                <button onclick="ImageSelector('image3',true)">Preview</button>
              </div>
              <div class="booksubsection" id="image4">
                <img src="assets/section1book4.jpg" />
                <button onclick="ImageSelector('image4',true)">Preview</button>
              </div>
              <div class="booksubsection" id="image5">
                <img src="assets/section1book5.jpg" />
                <button onclick="ImageSelector('image5',true)">Preview</button>
              </div>
              <div class="booksubsection"  id="image6">
                <img src="assets/section1book6.jpg"/>
                <button onclick="ImageSelector('image6',true)">Preview</button>
              </div>
            </div>
         </div>
         <div class="section">
          <h2>Classic Books</h2>
          <div class="booksection">
            <div class="booksubsection" id="image7">
              <img src="assets/section2book1.jpg"/>
              <button onclick="ImageSelector('image7',false)">Not In Library</button>
            </div>
            <div class="booksubsection" id="image8">
              <img src="assets/section2book2.jpg" />
              <button onclick="ImageSelector('image8',true)">Preview</button>
            </div>
            <div class="booksubsection"  id="image9">
              <img src="assets/section2book3.jpg"/>
              <button onclick="ImageSelector('image9',true)">Preview</button>
            </div>
            <div class="booksubsection" id="image10">
              <img src="assets/section2book4.jpg" />
              <button onclick="ImageSelector('image10',true)">Preview</button>
            </div>
            <div class="booksubsection" id="image11">
              <img src="assets/section2book5.jpg" />
              <button onclick="ImageSelector('image11',true)">Preview</button>
            </div>
            <div class="booksubsection" id="image12">
              <img src="assets/section2book6.jpg" />
              <button onclick="ImageSelector('image12',true)">Preview</button>
            </div>
          </div>
       </div>
       <div class="section">
        <h2>Romance</h2>
        <div class="booksection">
          <div class="booksubsection" id="image13">
            <img src="assets/section3book1.jpg" />
            <button onclick="ImageSelector('image13',false)">Not In Library</button>
          </div>
          <div class="booksubsection" id="image14">
            <img src="assets/section3book2.jpg" />
            <button onclick="ImageSelector('image14',true)">Preview</button>
          </div>
          <div class="booksubsection" id="image15">
            <img src="assets/section3book3.jpg"  />
            <button onclick="ImageSelector('image15',true)">Preview</button>
          </div>
          <div class="booksubsection" id="image16">
            <img src="assets/section3book4.jpg"  />
            <button onclick="ImageSelector('image16',true)">Preview</button>
          </div>
          <div class="booksubsection" id="image17">
            <img src="assets/section3book5.jpg"  />
            <button onclick="ImageSelector('image17',true)">Preview</button>
          </div>
          <div class="booksubsection" id="image18">
            <img src="assets/section3book6.jpg"  />
            <button onclick="ImageSelector('image18',true)">Preview</button>
          </div>
        </div>
     </div>
     <div class="section">
      <h2>Kids</h2>
      <div class="booksection">
        <div class="booksubsection" id="image19">
          <img src="assets/section4book1.jpg"  />
          <button onclick="ImageSelector('image19',false)">Not In Library</button>
        </div>
        <div class="booksubsection" id="image20">
          <img src="assets/section4book2.jpg"  />
          <button onclick="ImageSelector('image20',true)">Preview</button>
        </div>
        <div class="booksubsection"  id="image21">
          <img src="assets/section4book3.jpg" />
          <button onclick="ImageSelector('image21',true)">Preview</button>
        </div>
        <div class="booksubsection"  id="image22">
          <img src="assets/section4book4.jpg" />
          <button onclick="ImageSelector('image22',true)">Preview</button>
        </div>
        <div class="booksubsection" id="image23">
          <img src="assets/section4book5.jpg"  />
          <button onclick="ImageSelector('image23',true)">Preview</button>
        </div>
        <div class="booksubsection"  id="image24">
          <img src="assets/section4book6.jpg" />
          <button onclick="ImageSelector('image24',true)">Preview</button>
        </div>
      </div>
   </div>
   <div class="section">
    <h2>Thrillers</h2>
    <div class="booksection">
      <div class="booksubsection"  id="image25">
        <img src="assets/section5book1.jpg" />
        <button onclick="ImageSelector('image25',false)">Not In Library</button>
      </div>
      <div class="booksubsection"  id="image26">
        <img src="assets/section5book2.jpg" />
        <button onclick="ImageSelector('image26',true)">Preview</button>
      </div>
      <div class="booksubsection"  id="image27">
        <img src="assets/section5book3.jpg" />
        <button onclick="ImageSelector('image27',true)">Preview</button>
      </div>
      <div class="booksubsection" id="image28">
        <img src="assets/section5book4.jpg"  />
        <button onclick="ImageSelector('image28',true)">Preview</button>
      </div>
      <div class="booksubsection" id="image29">
        <img src="assets/section5book5.jpg"  />
        <button onclick="ImageSelector('image29',true)">Preview</button>
      </div>
      <div class="booksubsection" id="image30">
        <img src="assets/section5book6.jpg"  />
        <button onclick="ImageSelector('image30',true)">Preview</button>
      </div>
    </div>
 </div>
 <div class="overlaypreview">
   <div class="cross">
    <img src="assets/cross.jpg" />
   </div>
   <img src="assets/background.jpg"/>
   <button onclick="AddToCart(this.parent)">Add to Cart</button>
 </div>
      </div>
    </main>
    <%- include('./Components/footer.ejs') %>
