<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>
    <%- include('./Components/header',{ cookies: cookies }) %> 
    <main>
        <div class="loginsection">
          <h2>Login In</h2>
          <hr/>
          <form method="post" action="/login">
            <label>Email</label>
             <input type="text" placeholder="Email" name="email"/>
             <label>Password</label>
             <input type="text" placeholder="Password"  password="password"/>
             <button type="submit">Login</button>
             <label>Not a member yet? <a href="/register">Signup now</a></label>
          </form>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>