<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>
    <%- include('./Components/header') %> 
    <main>
        <div class="loginsection">
            <h2>Register In</h2>
            <hr/>
            <form method="post" action="/">
              <label>Name</label>
              <input type="text" placeholder="Name"/>
              <label>Email</label>
               <input type="text" placeholder="Email"/>
               <label>Password</label>
               <input type="text" placeholder="Password"/>
               <label>Confirm Password</label>
               <input type="text" placeholder="Confirm Password"/>
               <button type="submit">Register</button>
               <label style="margin-bottom: 20px;">Already a member yet? <a href="/login">Login now</a></label>
            </form>
          </div>
    </main>
    <footer>

    </footer>
</body>
</html>