header
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height:150px;
  background-color: rgb(67, 65, 65);
  color: white;
  margin-bottom: 20px;
}
*
{
  overflow-x: hidden;
  top: 0;
  right: 0;
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
}
.logo img
{
  margin-right: 20px;
}
.Call
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.Call img
{
  margin-right: 30px;
}
.Call .NumberDial
{
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;

}
.NumberDial h4
{
  margin-top: 10px;
  margin-bottom: 5px;
}
.section1
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.232);
  width: 100%;
}
.section2
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:60%;

  height:60px;
}
.section2 .subsection
{
  display: flex;
  width: 50%;
  justify-content: center;
}
.subsection h3
{
  margin-left: 30px;
}
main
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.background
{
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.382);
  border-radius: 8px;
  flex-direction: column;
}
.background img
{
  width: 95%;
  height: 60%;
  margin-top: 10px;
}
.background .section
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.section h2
{
  margin-left: 20px;
}
.section
{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  flex-direction: column;

  width: 100%;
}
.booksection
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  width: 100%;
}
.booksection .booksubsection
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 200px;
}
.booksubsection button
{
  width: 150px;
  height: 30px;
  background-color: rgb(50, 99, 168);
  border: none;
  color: white;
  font-weight: 600;
}
.section2 a
{
  text-decoration: none;
  color: white;
}

/* login section */
main{
  background-color: bisque;
  width: 100%;
  min-height: 80vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
.loginsection
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:60%;
  height: 65vh;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  flex-direction: column;
}
.loginsection hr
{
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.407);
  margin-top: 20px;
}
.loginsection form
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 100%;
  flex-direction: column;
}
form label
{
  font-weight: 600;
  margin-top: 20px;
}
.loginsection h2
{
  margin-top: 20px;
}
form input
{

  width: 400px;
  height:30px;
  font-weight: 600;
}
form button
{
  margin-top: 20px;
  width: 100px;
  height: 30px;
  font-weight: 600;
}
.overlaypreview
{
  position: fixed;
  background-color: white;
  height: 90%;
  width: 90%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
    max-width: 800px;
    flex-direction: column;
    display: none;
}
.overlaypreview .cross
{
  width: 7%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
}
.cross img
{
  width:"50px";
  height:"50px";
  margin-right: 20px;

}
.displayoff
{
display: none;
}