header
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height:150px;
  background-color: rgb(67, 65, 65);
  color: white;
  margin-bottom: 20px;
}
*
{
  overflow-x: hidden;
  top: 0;
  right: 0;
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
}
.logo img
{
  margin-right: 20px;
}
.Call
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.Call img
{
  margin-right: 30px;
}
.Call .NumberDial
{
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;

}
.NumberDial h4
{
  margin-top: 10px;
  margin-bottom: 5px;
}
.section1
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.232);
  width: 100%;
}
.section2
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:60%;

  height:60px;
}
.section2 .subsection
{
  display: flex;
  width: 50%;
  justify-content: space-around;
}
main
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.background
{
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.382);
  border-radius: 8px;
  flex-direction: column;
}
.background img
{
  width: 95%;
  height: 60%;
  margin-top: 10px;
}
.background .section
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.section h2
{
  margin-left: 20px;
}
.section
{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.booksection
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.booksection .booksubsection
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 200px;
}